<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="%HOME%\site\wwwroot\venv\Scripts\python.exe"
                      arguments="-m uvicorn app:app --host 0.0.0.0 --port %HTTP_PLATFORM_PORT%"
                      startupTimeLimit="60"
                      processesPerApplication="16"
                      requestTimeout="00:02:00"
                      stdoutLogEnabled="true"
                      stdoutLogFile="%HOME%\LogFiles\smart_search_service.log">
            <environmentVariables>
                <environmentVariable name="GOVAI_API_URL" value="YOUR_GOVAI_API_URL_HERE" />
                <environmentVariable name="GOVAI_API_KEY" value="YOUR_GOVAI_API_KEY_HERE" />
                <environmentVariable name="GOVAI_MODEL" value="qwen3-235b-fp16" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>